    @font-face {
        font-family: 'Montserrat-Regular';
        src: url('fonts/Montserrat-Regular.eot');
        src: url('fonts/Montserrat-Regular.eot') format('embedded-opentype'), url('fonts/Montserrat-Regular.woff2') format('woff2'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    body {
        font-family: 'Montserrat-Regular', sans-serif;
        font-size: 12px;
        line-height: 14.63px;
        color: #000000;
        margin: 0;
    }
    
    .container {
        max-width: 1180px;
        margin: 0 auto;
    }
    
    @media(max-width: 1200px) {
        .container {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    
    .link {
        color: #ffffff;
        text-decoration: none;
    }
    
    .link:hover {
        text-decoration: underline;
    }
    
    .link:active {
        opacity: 0.7;
    }
    
    .btn {
        height: 65px;
        border-radius: 10px;
    }
    
    .btn:hover {
        background-color: #ffffff;
        border: 1px solid #ffffff;
        color: #6ebbd3;
    }
    
    .btn:active {
        opacity: 0.7;
    }
    /* header */
    
    .header {
        background-image: url(img/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #000000;
        color: #ffffff;
        padding-bottom: 66px;
    }
    
    .header__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }
    
    @media(max-width: 785px) {
        .header__top {
            display: block;
        }
    }
    
    .header__top-nav {
        display: flex;
    }
    
    .header__top-nav-menu {
        display: flex;
        list-style: none;
        margin-left: 120px;
    }
    
    @media(max-width: 900px) {
        .header__top-nav-menu {
            margin-left: 40px;
        }
    }
    
    @media(max-width: 785px) {
        .header__top-nav-menu {
            display: none;
        }
    }
    
    .header__top-nav-menu-item {
        margin-right: 40px;
    }
    
    .header__top-nav-menu-link {
        font-size: 18px;
        line-height: 21.94px;
    }
    
    .header__top-contact {
        margin-top: 30px;
        text-align: right;
    }
    
    @media(max-width: 785px) {
        .header__top-contact {
            text-align: center;
        }
    }
    
    .header__top-contact-link {
        font-size: 24px;
        line-height: 29.26px;
        font-weight: 700;
    }
    
    .header__top-contact-text {
        font-size: 18px;
        line-height: 21.94px;
        margin-top: 0;
    }
    
    .header__caption {
        font-size: 38px;
        line-height: 46.32px;
        margin-top: 30px;
        margin-bottom: 0;
    }
    
    @media(max-width: 785px) {
        .header__caption {
            text-align: center;
        }
    }
    /* burger-menu */
    
    .burger-menu {
        display: none;
    }
    
    @media(max-width: 785px) {
        .container-burger {
            padding: 0;
        }
        .burger-menu {
            display: block;
        }
        .menu-btn {
            display: flex;
            align-items: center;
            position: absolute;
            top: 10px;
            right: 15px;
            width: 45px;
            height: 45px;
            cursor: pointer;
            z-index: 1;
        }
        .menu-btn>span,
        .menu-btn>span::before,
        .menu-btn>span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #ffffff;
            transition-duration: .25s;
        }
        .menu-btn>span::before {
            content: '';
            top: -8px;
        }
        .menu-btn>span::after {
            content: '';
            top: 8px;
        }
        .menubox {
            display: block;
            position: absolute;
            visibility: hidden;
            top: 0;
            left: -100%;
            width: 300px;
            height: 100%;
            margin: 0;
            padding: 50px 0;
            list-style: none;
            background-color: #1F2021;
            transition-duration: 1.2s;
            z-index: 999;
        }
        .menu-item {
            display: block;
            padding: 12px 24px;
            color: #ffffff;
            font-family: 'Montserrat-Regular', sans-serif;
            font-size: 20px;
            font-weight: 400;
            text-decoration: none;
            transition-duration: 0.3s;
            text-align: center;
        }
        .menu-item:hover {
            text-decoration: underline;
        }
        .menu-item:active {
            opacity: 0.7;
        }
        #menu-toggle {
            opacity: 0;
        }
        #menu-toggle:checked~.menu-btn>span {
            transform: rotate(45deg);
        }
        #menu-toggle:checked~.menu-btn>span::before {
            top: 0;
            transform: rotate(0);
        }
        #menu-toggle:checked~.menu-btn>span::after {
            top: 0;
            transform: rotate(90deg);
        }
        #menu-toggle:checked~.menubox {
            visibility: visible;
            left: 0;
            top: 85px;
            width: 100%;
            height: 150px;
        }
    }
    /* filter */
    
    .filter {
        display: flex;
        margin-top: 37px;
        margin-bottom: 37px;
    }
    
    @media(max-width: 510px) {
        .filter {
            display: block;
        }
    }
    
    .filter__text {
        margin-right: 48px;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.94px;
    }
    
    .filter__btn {
        margin-right: 55px;
        border: none;
        background-color: #ffffff;
        padding: 0;
        padding-right: 30px;
        position: relative;
    }
    
    .filter__btn::after {
        content: "";
        position: absolute;
        top: 25px;
        left: 45px;
        width: 15px;
        height: 9px;
        background-position: -5px -5px;
        background-image: url(img/spritesheet.png);
        background-repeat: no-repeat;
    }
    
    @media(max-width: 510px) {
        .filter__btn::after {
            top: 4px;
        }
    }
    
    .filter__btn:last-child:after {
        left: 70px;
    }
    
    .filter__btn:hover {
        text-decoration: underline;
    }
    
    .filter__btn:active {
        opacity: 0.7;
    }
    /* cards */
    
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .cards__item {
        position: relative;
        max-width: 380px;
        margin-bottom: 23px;
    }
    
    .cards__item-discount {
        position: absolute;
        top: 34px;
        left: 38px;
        color: #ffffff;
        font-size: 16px;
        width: 78px;
        height: 39px;
        text-align: center;
        background-color: #e52d2d;
        border-radius: 10px;
    }
    
    .cards__item-discount-text {
        margin: 0;
        padding-top: 11px;
    }
    
    .cards__item-like {
        position: absolute;
        content: "";
        top: 36.7px;
        right: 32px;
        width: 46px;
        height: 42px;
        background-repeat: no-repeat;
    }
    
    .passive {
        opacity: 0.5;
    }
    
    .passive:hover {
        opacity: 1;
    }
    
    .passive:active {
        transform: scale(1.1);
    }
    
    .cards__item-description {
        background-color: #f3f3f3;
        padding: 29px;
        margin-top: -3px;
    }
    
    .cards__item-description-caption,
    .cards__item-description-price {
        margin: 0;
        font-size: 24px;
        line-height: 29.28px;
        font-weight: 700;
    }
    
    .cards__item-description-parameters {
        position: relative;
        display: flex;
        padding-left: 22px;
    }
    
    .cards__item-description-parameters::before {
        content: "";
        position: absolute;
        top: 13px;
        left: 0;
        width: 4px;
        height: 26px;
        background-image: url(img/line.png);
        background-repeat: no-repeat;
    }
    
    .cards__item-description-parameters-color {
        max-width: 89px;
    }
    
    .cards__item-description-parameters-age {
        margin-left: 22px;
        margin-right: 46px;
    }
    
    .cards__item-description-parameters-number {
        font-size: 16px;
        font-weight: 700;
        margin-top: 12px;
        margin-bottom: 0;
    }
    
    .cards__item-description-parameters-property {
        margin-top: 5px;
        margin-bottom: 16px;
    }
    
    .cards__item-btn {
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: #6ebbd3;
        border: 1px solid #6ebbd3;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
    }
    
    .cards__item-btn:hover {
        border: 1px solid #6ebbd3;
    }
    
    .btn-sold,
    .btn-sold:hover,
    .btn-sold:active {
        background-color: #1f2021;
        border: 1px solid #1f2021;
        color: #ffffff;
    }
    /* subscription */
    
    .subscription {
        display: flex;
        justify-content: space-between;
        margin-top: 49px;
        margin-bottom: 114px;
        background-color: #1F2021;
        padding: 91px 80px 92px;
        color: #ffffff;
    }
    
    @media(max-width: 1170px) {
        .subscription {
            flex-direction: column;
        }
    }
    
    @media(max-width: 500px) {
        .subscription {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    
    .subscription__text {
        max-width: 400px;
    }
    
    .subscription__text-title {
        font-size: 48px;
        line-height: 58.51px;
        font-weight: 700;
        margin: 0;
    }
    
    @media(max-width: 500px) {
        .subscription__text-title {
            font-size: 38px;
        }
    }
    
    .subscription__text-caption {
        font-size: 28px;
        line-height: 25.54px;
        margin-top: 26px;
    }
    
    @media(max-width: 500px) {
        .subscription__text-caption {
            font-size: 18px;
        }
    }
    /* form */
    
    .subscription__form {
        position: relative;
    }
    
    .subscription__form-input {
        width: 300px;
        height: 65px;
        background-color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 10px;
        box-sizing: border-box;
        padding-left: 33px;
        padding-top: 10px;
    }
    
    @media(max-width: 350px) {
        .subscription__form-input {
            width: 250px;
        }
    }
    
    .subscription__form-input:focus {
        outline: none;
    }
    
    .subscription__form-label {
        position: absolute;
        top: 25px;
        left: 33px;
        display: block;
        color: #000000;
        transition: 0.5s;
        font-size: 14px;
    }
    
    .subscription__form-input:focus+.subscription__form-label,
    .subscription__form-input:valid+.subscription__form-label {
        font-size: 10px;
        transform: translateY(-10px);
    }
    
    .subscription__form-btn {
        background-color: #6ebbd3;
        border: 1px solid #6ebbd3;
        width: 250px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        padding-top: 8px;
        margin-left: 16px;
    }
    
    @media(max-width: 766px) {
        .subscription__form-btn {
            margin-top: 20px;
            margin-left: 0;
        }
    }
    /* checkbox */
    
    .subscription__form__checkbox {
        font-size: 14px;
        margin-top: 24px;
    }
    
    .subscription__form__checkbox-custom {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    
    .subscription__form__checkbox-custom+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }
    
    .subscription__form__checkbox-custom+label::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #6ebbd3;
        background-color: #6ebbd3;
        border-radius: 4px;
        margin-right: 18px;
        margin-left: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
    
    .subscription__form__checkbox-custom:checked+label::before {
        background-image: url(img/checkbox.png);
    }
    
    .subscription__form__checkbox-custom:not(:disabled):not(:checked)+label:hover::before {
        background-color: #6ebbd3;
    }